<% if logged_in? %>

<h1>タスク一覧</h1>

<ul>
  <% @tasks.each do |task| %>
    <li><%= link_to task.id, task %> : <%= task.content %> &gt; <%= task.status %></li>
  <% end %>
</ul>

  <div class="row">
    <aside class="col-sm-4">
      <%= form_with(model: @task, local: true) do |f| %>
        <div class="form-group">
          <p>タスク内容</p>
          <%= f.text_area :content, class: 'form-control', rows: 5 %>
          <p>タスクステータス</p>
          <%= f.text_area :status, class: 'form-control', rows: 5 %>
        </div>
        <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
      <% end %>
    </aside>

  </div>


<% else %>

      <h1>Welcome to the Tasklist!</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>

<% end %>

